doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title 
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='')
    // Place favicon.ico in the root directory
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='js/vendor/*')
  body
    
      
    script(src='jquery.min.js')
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\\/script>')
    script(src='js/plugins.js')
    script(src='js/main.js')
    // Google Analytics: change UA-XXXXX-Y to be your site's ID.
    script.
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    script(src='https://www.google-analytics.com/analytics.js', async='', defer='')

